body{
    background: rgb(2,0,36);
background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(22,0,41,1) 35%, rgba(37,0,93,1) 100%);
h1{
    color: blueviolet;
}
.button {
    background-color: #4404aa; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }