body{
    background: rgb(2,0,36);
background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 35%, rgb(54, 54, 54) 100%);
h1{
    color: blueviolet;

    scroll-behavior: smooth;

    float:right;
    margin-top:25%;
}
.button {
    background-color: #4404aa; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  /* HTML: <div class="loader"></div> */
.loader {
    width: 120px;
    height: 20px;
    -webkit-mask:linear-gradient(90deg,#000 70%,#0000 0) 0/20%;
    background:
     linear-gradient(#000 0 0) 0/0% no-repeat
     #ddd;
    animation: l4 2s infinite steps(6);
  }
  @keyframes l4 {
      100% {background-size:120%}
  }